# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
.pubspec.lock
.pubspec.yaml.lock
/build/
/ios/Flutter/Generated.xcconfig
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/AppFrameworkInfo.plist
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig
/web/index.html
/web/main.dart.js
/web/*.lib.js
/web/assets/
/web/favicon.ico

# Flutter/Dart specific
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugin_registrant.cc
pubspec.lock
macos/Flutter/GeneratedPluginRegistrant.swift
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugin_registrant.cc



# IntelliJ and VS Code specific
.idea/
.vscode/

# Gradle specific
**/build/
**/gradle-wrapper.jar
**/.gradle/
**/local.properties

# Android specific
**/android/app/build/
**/android/app/outputs/
**/android/build/
**/android/gradle/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties

# iOS specific
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS specific
**/macos/Flutter/Flutter.xcconfig
**/macos/Flutter/Release.xcconfig
**/macos/Flutter/Debug.xcconfig
**/macos/Generated.xcconfig

# Windows specific
**/windows/Flutter/Generated.vcxproj
**/windows/Flutter/Generated.vcxproj.filters
**/windows/Flutter/Generated.vcxproj.user

# Miscellaneous
.DS_Store
*.iml
*.log
*.log.*
*.bat
*.map
*.db
*.sqlite
*.hprof
*.gcda
*.gcno
*.lock
*.lock-wscript
*.swp
*.out
*.pid
*.zip
*.tar.gz
*.rar
*.tar.xz
*.tar.lzma
*.7z
*.class
*.jar
*.war
*.ear
/target/
/dist/
/node_modules/
/npm-debug.log
.yarn/
yarn.lock
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.sublime-project
*.komodoproject
.komodotools/
.komodotools/*
*.komodotools
_test_generated_/
*.firebase
